body
{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0%;
	margin-bottom: 0%;
	border-left: 1px solid #e6e7e1;
	border-right: 1px solid #e6e7e1;
}

@font-face {
	font-family: 'amita';
	src: url('../polices/amita-regular.ttf');
	}

header
{	
	display: flex;
	flex-direction: column;
}

a
{
	text-decoration: none;
}

#titre
{
	background-color: black;
	height: 200px;
}

#titre h1
{
	color: white;
	font-size: 1em;
	letter-spacing: 25px;
	text-indent: 33%;
	font-size: 4.5em;
}

#menu_nav ul 
{
	margin: 2px;
	margin-left: 20%;
	display:flex;
}

#menu_nav li 
{
	padding: 15px;
	list-style-type: none;
	border-left: 1px solid #e6e7e1;
	border-right: 1px solid #e6e7e1;
	font-size: 1em;
	font-family: amita;
}

#menu_nav a
{
	color: black;
}

#menu_nav li:hover
{
	background-color: black;
	color: white;
}

.menu_nav_fb
{
	margin: 2% 0 0 10%;
	padding-right: 3%;

}

.menu_nav_twitter
{
	margin: 2% 10% 0 0;
}

.presentation
{
	height: 250px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 5%;
}

.logos_part
{
	margin-left: 35%;
	margin-top: 5px;
	padding: 5px;
	border-bottom: 1px solid #e6e7e1;
	width: 20%;
}

.logo_rt
{
	margin-top: 5%;
}

.test
{
	margin-top: 5px;
	margin-left: 21%;
}


			
h2					/******************** général pour toutes pages ********************/
{
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 2.5em;
	color: #424242; /* or black */
	font-family: amita;
	letter-spacing: 5px;
}

.h2_journee_inte
{
	width: 50%;
	margin: 5% 5% 5% 1%;
	font-size: 2.5em;
	color: #424242; /* or black */
	font-family: amita;
	letter-spacing: 5px;
}

.iframe			/******************** général pour iframe toutes pages ********************/
{
	border-left: 3px solid #e6e7e3;
	padding-left: 15px;
	width: 450px;
	height: 210px;
	word-wrap: break-word;
	color: black; /* #4D4242; */
}

.separe			/******************** général pour les separation de toutes les pages ********************/
{
	background-image: url('../images/traits_separation.png');
	height: 50px;
}

footer
{
	margin: 0;
	background-color: #161616;
	border-top: 1px solid #e6e7e1;
	height: 250px;
}

footer ul
{
	display: flex;
	justify-content: center;
	background-color: #272727;
	list-style-type: none;
	color: #C5C5B0;
	margin: 0;
}

footer li
{
	padding: 10px;
	letter-spacing: 2px;
}

.border_footer
{
	border-left: 1px solid #e6e7e1;
	border-right: 1px solid #e6e7e1;
}
footer h4
{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: amita;
	color: #FEFEE2;
	font-size: 2em;
	letter-spacing: 10px;
	font-style: italic;
	margin-bottom: 0;
	margin-top: 15px;
}

footer section
{
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

footer article
{
	padding-right: 25px;
	padding-left: 25px;
}

footer a
{
	color: #ABABAB;
}

footer a:visited
{
	color: #ABABAB;
}




										/******************** JOURNEE INTEGRATION ********************/
.texte_photo_journee_inte
{
	background-image: url('../images/points_blancnoir.png');
	font-size: 1em;
	font-family: amita;
	width: 15%;
	margin-left: 45%;
}

	
@media screen and (max-width: 500px){
	
	.iframe
	{
		height: auto;
		width: auto;
		border: none;
		margin: auto;
	}
	.menu_nav_fb, .menu_nav_twitter
	{
		display: none;
	}
	footer
	{
		margin-bottom: 0;
	}
	.test, .logo_rt
	{
		display: none;
	}
	#menu_nav ul
	{
		display: block
	}
	#menu_nav li
	{
		margin: auto;
	}
	#titre
	{
		height: 150px;
	}
	#titre h1
	{
		letter-spacing: 15px;
		font-size: 2.5em;
	}
	h2
	{
		font-size: 2em;
	}
	.presentation
	{
		display:flex;
		flex-direction: column;
		margin: auto;
		height: auto;
	}
	footer ul
	{
		display: flex;
		flex-direction: column;
	}
	.border_footer
	{
		border: 0;
	}
		/********************************************* JOURNEE INTE **************************************/
	#h2_journee_inte
	{
		margin: 0;
	}
	#image_journeeinte
	{
		width: 20%;
		margin-top: 50px;
		box-shadow: none;
	}
	.texte_photo_journee_inte
	{
		width: 200px;
	}

	