#texte_journee_inte 
{
	font-family: amita;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 1.1em;
}

#texte_journee_inte a
{
	font-weight: bold;
	text-decoration: none;
}

#texte_index
{
	font-family: amita;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 1.5em;
}


#texte_membres
{
	font-family: amita;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 1.1em;
}
@media screen and (max-width: 500px){
	.iframe
	{
		
		margin-left: 5px;
	}
}